@import "../variables";
@import "../mixins";

.breadcrumb {
  margin-top: $navBarHeight;
  height: 180px;
  background-image: url('/images/pattern/geometry2.png');
  color: $teal;
  display: flex;
  align-items: center;
  font-family: Shabnam-Normal;
}