.gray-area {
  margin-top: 20px;
  padding: 20px;

  &.center {
    display: flex;
    justify-content: center;
  }
  &.no-margin {
    margin-left: 0;
    margin-right: 0;
  }

  label {
    color: white;
  }

  input[type=radio] {
    margin-right: 20px;
  }

  .margin-top {
    margin-top: 25px;
  }
}

.gray-content.title {
  margin-top: 100px;
  text-align: center;
}