$darkGray: #333;
$lightGray: #444;
$veryLightGray: #eee;
$teal: #2ed0cb;
$red: #f45b69;
$purple: #52489c;
$darkGreen: #185956;
$lightenedGrayAlpha: rgba(0, 0, 0, .4);  //TODO: in rang age vase text ha estefade beshe kharab kari mikone! mesle card ha!
$lightenedGray: #777;
$yellowLight: #dede00;


$transparentGray: rgba(0, 0, 0, .3);
$transparentWhite: rgba(255, 255, 255, .1);
